

.center-row{
    display:flex;
    align-items: center;
    justify-content: center;
}
.center-col{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.center-spaceBetween{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.center-spaceEvenly{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.noOpacity{
    opacity:0;
}

.fullOpacity{
    opacity:1!important;
}

.poppins-font{
    font-family: 'Poppins', Arial, sans-serif;
   
}
.txt-center{
    text-align: center;
}
.blue-colored{
    color:#004AAD!important;
}



/* Navbar Styles */

/* Navbar Styles */
a{
    text-decoration: none;
   
}
.nav-links li a:link{
    animation:slideDown 0.3s ease-in;
}
 li {
    list-style: none;
}
p{
    line-height: 1.2;
}
.nav-links .menu button {
    font-family: 'Poppins', Arial, sans-serif;
    background-color:white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    margin: 0 30px;
    padding:20px 0;
}

.nav-links a {
    color: #000;
    font-family: 'Poppins', Arial, sans-serif;
   
}

.nav-links a:hover {
    color: #888686;
}

.logo img{
   height:40px;
    animation:slideDown 0.3s ease-in;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 15px;
    align-items: center;
    background-color:white;
    
    animation:slideDown 0.3s ease-in;
}

.menu a {
    font-weight: 500;
    margin-left: 30px;
}

.menu button {
    font-weight: 500;
    border: 1px solid rgb(106, 177, 224);
    padding: 10px 13px;
    border-radius: 60px;
    margin-left: 30px;
    font-family: 'Poppins', Arial, sans-serif;
   
}

.menu button:hover {
    color: rgb(106, 177, 224);
    border: 1px solid #000;
    transition: 1s ace;
}

/* Hamburger menu */
input[type=checkbox] {
    display: none;

}

.hamburger-menu {
    display: none;
    font-size: 20px;
    user-select: none;
}



/* Footer Styles */

#footer{
    background-image: url(../images/footerBg.svg);
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
#footer .container{
    align-items: start;
    justify-content: start;
    padding: 0 80px;
}
#footer .about,#footer .contact{
    padding:20px 30px;
    width:30%;
    align-items: start;    
}
/* #footer .emptyBg{
    background-color: grey;
    height:5px;
    width:100%;
    margin-bottom: 20px;
} */
#footer .about p{
    line-height: 1.8;
}
#footer .about h4,#footer .contact h4 , #footer .about p,#footer .contact ul{
    margin:30px 0;
}
#footer .about .icons{
    width: 100%;
    justify-content: space-between;
}
#footer .contact .parent{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin:30px 0;
}
#footer .contact .parent .child{
    display: flex;
    margin:10px 0;
    align-items: center;
    justify-content: space-evenly;
}
#footer .contact .parent .child p{
    margin:0 10px;
}
#footer .copyright{
    width:100%;
    margin:30px 0;
}
#footer .hrLine {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#footer .hrLine hr{
    width:85%;
    border:solid grey 1px;
    border-radius: 10px;
}
#footer .imgContainer img{
    height:150px;
    margin:0 30px;
}




/* CSS Animations */
@keyframes slideLightDown{
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0);
    }
}


/* Mobile Size Media Queries */

@media only screen and (max-width:768px){

    /* Navbar */
    .menu {
        display: none;
        position: absolute;
        right: 0;
        text-align: center;
        padding: 10px 0;
        left: 0;
        z-index: 9999;
    }

    .menu li, 
    .menu button{
        margin-top: 10px;
    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    input[type=checkbox]:checked ~ .hamburger-menu{
        border:solid black 2px;
        border-radius:4px;
        background-color:#c4c1c175;
        transition:padding 0.1s linear;
    }

     .menu{
        /* animation:none; */
        animation:slideLightDown 0.3s ease-in;
    }
    .hamburger-menu {
        display: block;
        margin-bottom: 3px;
        padding:3px 8px;
    animation:slideDown 0.3s ease-in;
    }

    /* Footer */

    #footer .imgContainer img{
        height:70px;
        margin:30px;
    }
    #footer .about p{
        line-height: 1.5;
    }
    #footer .contact .parent .child p{
        margin:0 5px;
    }
    #footer .container{
        align-items: baseline;
        /* justify-content: center; */
        padding: 10px;
    }
    #footer .about,#footer .contact{
        padding:0 5px;
        width:40%;
        /* align-items: start;     */
    }
}